<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstAidMaster"
        tools:targetApi="31">
        <activity
            android:name=".Video2"
            android:exported="false"
            android:parentActivityName=".FirstAidVideo" />
        <activity
            android:name=".Video1"
            android:exported="false"
            android:parentActivityName=".FirstAidVideo" />
        <activity
            android:name=".FirstAidVideo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AED_5"
            android:exported="false" />
        <activity
            android:name=".AED_4"
            android:exported="false" />
        <activity
            android:name=".AED_3"
            android:exported="false" />
        <activity
            android:name=".AED_2"
            android:exported="false" />
        <activity
            android:name=".AED_1"
            android:exported="false" />
        <activity
            android:name=".Burn"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".Heatstroke"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".DrugAddiction"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".CPR_8"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".CPR_7"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".CPR_6"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".CPR_5"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".CPR_4"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".CPR_3"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".CPR_2"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".BeeBite"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".SnakeBite"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".Heimrichi_4"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".Heimrichi_3"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".Heimrichi_2"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".Heimrichi_1"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".Overbreathing"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".Fracture"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".DogBite"
            android:exported="false"
            android:parentActivityName=".FirstAidList" />
        <activity
            android:name=".SettingAlarm"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".aedMap"
            android:exported="false" />
        <activity
            android:name=".CPR_1"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FirstAidList"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="lhvlsgmn84" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/alram_icon_img" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/orange" />
    </application>

</manifest>